header{
    width: 2000;
    height: 140;
    background-color: #F96852;
    }
    .Footer {
        background-color: #090909;
        margin-left: -9px;
        margin-bottom: -9px;
        margin-right: -8px;
        color: #FFFFFF;
        height: 40px;
        text-align: center;
        font-family: architects-daughter;
        font-style: normal;
        font-weight: 400;
    }#cuadro footer {
    background-color: #000000;
    margin-left: -11px;
    width: 1313px;
    height: 106px;
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
}
header   {
    width: 1308px;
    margin-left: -9px;
    margin-top: -15px;

}
header center h1 {
    margin-top: -50px;
}

header a img {
    width: 55px;
    margin-top: 48px;
    margin-left: 14px;
}
